<!DOCTYPE html>
<html>
<head>
<style type="text/css">
	a{ color: lightgreen; }
</style>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="/javascripts/underscore-min.js"></script>
	<script type="text/javascript" src="/javascripts/backbone-min.js"></script>
	<script type="text/javascript" src="/javascripts/cookies.min.js"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>
	<script type="text/javascript">
	var App = App || {};
		$(document).ready(function () {
			<% if(auth) { %>
			App.user = 'www';
			<% } %>

			Site.init();
		});
	</script>
</head>
<body>
	<div class="container">
		
	</div>
	<div id="index" style="display:none;">
		<h1>Index Page,</h1>
		<p>click to login</p>
		<a id="sign" href="javascript:void(null);">sign in</a>
	</div>
	<div id="login" style="display:none;">
		<h1 style="color:#CACACA">Index</h1>
		userName: <input type="text" id="username"/>
		userPass: <input type="pasword" id="userpass"/>
		<a href="javascript:void(null);" id="submit">login</a>		
	</div>
	<div id="person" style="display:none;">
		<h1>This is a personal Page,need Authorize!</h1>
	</div>
</body>
</html>